body{
    background-image:url('air.jpg');
    background-size: cover;
}
h1{
    text-align: center;
    color: darkblue;
}
.mainbox{
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 440px;
    margin-left: 410px;
}

.login{
    background-color: darkblue;
    width: 309px;
    height: 30px;
}
button{
    background-color: darkblue;
    color: white;
    border-style: none;
    margin-left: 120px;
    margin-top: 7px;
}
input{
    width: 300px;
    height: 30px;
}